# Ignore core
wp-admin/
wp-includes/

# Ignore config
wp-config.php

# Ignore only unnecessary parts of wp-content
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/

# DO NOT ignore full wp-content
# DO NOT use *.php ❌ (this is your mistake)
